In [ ]:
## similar conformers

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("36500001_37000000x36500001_37000000.csv")

In [3]:
df.head()

,CID1,LID1,CID2,LID2,ST,CT,Rxx,Rxy,Rxz,Ryx,Ryy,Ryz,Rzx,Rzy,Rzz,Tx,Ty,Tz
0,36500004,1,36500004,1,101,101,1.0,-0.008,0.008,0.008,1.0,-0.008,-0.008,0.008,1.0,0.0,0.0,0.0
1,36500004,1,36500642,1,97,76,1.0,-0.008,0.008,0.008,1.0,-0.008,-0.008,0.008,1.0,0.0,0.0,0.0
2,36500004,1,36537661,1,94,50,1.0,-0.008,0.008,0.008,1.0,-0.008,-0.008,0.008,1.0,0.0,0.0,0.0
3,36500004,1,36539679,1,91,74,1.0,-0.008,0.008,0.008,1.0,-0.008,-0.008,0.008,1.0,0.0,0.0,0.0
4,36500004,19,36500004,19,101,101,1.0,-0.008,0.008,0.008,1.0,-0.008,-0.008,0.008,1.0,0.0,0.0,0.0

In [ ]:
r = requests.get('https://api.github.com/user', auth=('user', 'pass'))
>>> r.status_code